.newcup {
    width: 400px;
    margin: 30px auto;
    font-size: 16px;
  }
  
  .help-block {
    color: red;
    padding: 12px 0px;
  }
  
  /* form input,
  form select {
    box-sizing: border-box;
    display: block;
    background: white;
    border-color: lightgray;
    color: darkslategray;
    width: 100%;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.9em;
  } */
  /* 
  .newcup-header,
  .newcup p {
  }
  
  .newcup-header {
    background: purple;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
  
  .newcup-container {
    background: whitesmoke;
    padding: 12px;
  }
  
  .newcup p {
    padding: 12px 0px;
  }
   */
  
  
  .newcup input:focus {
    border-color: gray;
  }
  
  .newcup button[type="submit"]:hover {
    background: purple;
  }
  