.card {
    width: fit-content;
    border: 1px solid black;
    padding: 20px;
}

button.addBtn {
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 10;
}

.mdl-card__actions button{
    margin: 0px 8px;
}